<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.CodeDetailMapper">

	<!-- 등록 처리 -->
	<insert id="create">
		insert into code_detail
		(
		group_code,
		code_value,
		code_name,
		sort_seq
		)
		values
		(
		#{groupCode},
		#{codeValue},
		#{codeName},
		#{sortSeq}
		)
	</insert>

	<!-- 정렬 순서의 최대값이 null 일 떄 0으로 대체 -->
	<!-- ORACLE : NVL(value1, value2) -->
	<!-- MySQL : IFNULL(value1, value2) -->
	<select id="getMaxSortSeq" resultType="int">
		select
		nvl(max(sort_seq),0)
		from code_detail
		where group_code = #{groupCode}
	</select>
	<!-- 목록 조회 -->
	<select id="list" resultType="CodeDetail">
		select group_code,
		code_value,
		code_name,
		sort_seq,
		use_yn,
		reg_date
		from code_detail
		order by group_code
		asc,
		sort_seq asc
	</select>
	<!-- 상세 조회 -->
	<select id="read" resultType="CodeDetail">
		select group_code,
		code_value,
		code_name,
		sort_seq,
		use_yn,
		reg_date
		from code_detail
		where group_code =
		#{groupCode}
		and code_value = #{codeValue}
	</select>
	<!-- 수정 처리 -->
	<update id="update">
		update code_detail
		set code_name = #{codeName}
		where group_code = #{groupCode}
		and code_value=#{codeValue}
	</update>
	<!-- 삭제 처리 -->
	<delete id="delete">
		delete from code_detail
		where group_code = #{groupCode}
		and code_value = #{codeValue}
	</delete>
</mapper>